@import 'colors.sass'
  
html, body
  background: $main-background
  color: $main-foreground

a, .nav-link
  color: $main-foreground-highlight
  &:hover
    color: $main-foreground-active
  &.active
    color: $main-foreground-active

.site-header-highlight
  color: $main-foreground-highlight 

.site-heading-cursor
  color: $main-cursor-color

pre code
  background-color: $main-background-highlight
  color: $main-foreground
  border: 1px solid $adapta-border

hr
  color: $main-background-highlight
  background-color: $main-foreground-muted

.arrow-down
  border-top-color: $main-foreground-muted
  .small
    border-top-color: $main-background

nav
  @media #{$is-mobile}
    background: $main-background