/* light mode */
$light-background-highlight: #8eacc5
$light-background: #fff
$light-foreground: #1c2532
$light-foreground-blue: #0194ef
$light-foreground-green: #4fcf3f
$light-cursor-color: rgba(28,37,50,0.8)

/* dark mode */
$dark-background-highlight: #283243
$dark-background: #1c2532
$dark-foreground: #fff
$dark-foreground-blue: #26c2c9
$dark-foreground-green: #96bf47
$dark-cursor-color: rgba(255,255,255,0.8)
  
/* colors */
$main-background: $dark-background
$main-foreground: $dark-foreground
$main-background-highlight: $dark-background-highlight
$main-foreground-highlight: $dark-foreground-blue
$main-foreground-active: $dark-foreground-green
$main-cursor-color: $dark-cursor-color