/* fonts */
$body-font: 'Titillium Web'
$feature-font: 'Quicksand'
$heading-font: 'Oswald'
$code-font: 'Roboto Mono'
$header-font: 'Share Tech Mono'

/* fallbacks */
$monospace: 'monospace'
$sans-serif: 'sans-serif'
$serif: 'serif'
$header-fallback: $monospace
$heading-fallback: $sans-serif
$body-fallback: $sans-serif
$feature-fallback: $sans-serif
$code-fallback: $monospace
