@import 'responsive-breaks.sass'

header
  margin: 1rem 0 0 0
  grid-template-row: auto

nav
  margin: 0

header, main, footer
  grid-template-columns: minmax(0, 1280px)

.site-header-content, .site-footer-content, main
  width: minmax(0, 1280px)

main
  margin: 0 auto
  min-height: 100vh
  display: grid
  grid-template-rows: 150px auto auto 50px
  justify-content: center
  align-items: center
  text-align: left
  @media #{$is-phone}
    grid-template-rows: 125px auto auto

.nav-link
  padding: 10px 40px 10px 0
  @media #{$is-phone}
    padding: 30px 50px 30px 0

.container
  margin: 0 auto
  display: grid
  justify-content: left
  text-align: left
  max-width: 1280px

.hide
  display: none
  visibility: hidden

.hide-mobile
  @media #{$is-phone}
    display: none
    visibility: hidden

blockquote
  max-width: 100%
  margin: 1rem
  padding: 1rem
  @media #{$is-phone}
    margin: 0.5rem
    padding: 0.5rem

pre code
  display: block
  margin: 1rem 1.3rem 1rem 0
  padding: 1rem
  @media #{$is-phone}
    margin: 0.5rem 0
    padding: 0.5rem

h1, h2
  margin: 1.6em 0
  @media #{$is-phone}
    margin: 1.2em 0

h3
  margin: 1.4em 0
  @media #{$is-phone}
    margin: 1.2em 0

h4
  margin: 1.3em 0
  @media #{$is-phone}
    margin: 1.1em 0

h5, h6
  margin: 1.2em 0
  @media #{$is-phone}
    margin: 1em 0

footer
  display: grid
  margin: 1em 1.3em